{% extends 'main.html' %}

{% block title %}Accueil - Market{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Bienvenue sur la plateforme Market</h1>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Acheter des Produits</h5>
                    <p class="card-text">
                        Parcourez et achetez des produits agricoles frais ou transformés proposés par différents producteurs.
                    </p>
                    <a href="" class="btn btn-primary">Voir les produits</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vendre vos Produits</h5>
                    <p class="card-text">
                        Publiez vos produits et commencez à vendre à une large communauté d'acheteurs intéressés par des produits agricoles de qualité.
                    </p>
                    <a href="" class="btn btn-success">Commencer à vendre</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Actualités et Promotions</h5>
                    <p class="card-text">
                        Consultez les dernières nouvelles et promotions sur les produits agricoles disponibles sur le marché.
                    </p>
                    <a href="" class="btn btn-info">Voir les actualités</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
