<!-- templates/home.html -->
{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to SUKELAGRI</h1>
<p>Your one-stop platform for agricultural production, trade, and discussions.</p>
{% if user.is_authenticated %}
    <p>Bienvenue, {{ user.first_name }} {{ user.last_name }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-primary ms-2" type="submit">Se déconnecter</button>
    </form>
{% else %}
    <a class="btn btn-outline-primary ms-2" href="{% url 'login' %}">Se connecter</a>
{% endif %}

{% endblock %}
